<div class="comment">
	<p class="comment-body"><%= comment.body %></p>
	<p class="comment-posted-by">Posted by <%= comment.user.email %> <%= time_ago_in_words(comment.created_at) %> ago</p>

	<div class="links">
		<% if user_signed_in? %>
			<% if comment.user_id == current_user.id %>
				<%= link_to "Edit", edit_post_comment_path(comment.post, comment) %>
				<%= link_to "Delete", post_comment_path(comment.post, comment), method: :delete, data: { confirm: "Are you sure?" } %>
			<% end %>
		<% end %>
	</div>
</div>



<!-- (comment.post,comment) - is corresponds to the post that comments are for while "comment" represent the individual comment. Remember,we are in the _comment.html.erb partial file , IF WE ARE TRYING TO EDIT THE COMMENT OF A POST (which has an id of 3), the URL we try to get is /posts/3/comments/1, comment.post gets/posts/3 comment gets /comments/1 -->
