<!DOCTYPE html>
<html>
  <head>
    <title>Message Board </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>

  </head>

  <body id="decor">
    <nav class="navbar navbar-default">
    		<div class="container">
    			<div class="navbar-header">
      				<% if current_page?(root_path) %>
                  <ul>
                    <li class:"navbar-brand">Message Board</li>
                  </ul>
               <% else %>
                   <%= link_to "Back to All Posts", root_path %>
  			        <% end %>
          </div>

        			<ul class="navbar-nav nav">
        				<li><%= link_to "Sign Up", new_user_registration_path %></li>
        				<% if user_signed_in? %>
        					<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        				<% else %>
        					<li><%= link_to "Log In", new_user_session_path %></li>
        				<% end %>
        			</ul>
          			<% if user_signed_in? %>
          				<p><%= link_to "New Post", new_post_path, class: "navbar-text navbar-link navbar-right" %></p>
          			<% end %>
    		</div>
    	</nav>


      <div class="container">
        <h4 class="notice"><%= notice %></h4>
        <h4 class="alert"><%= alert %></h4>
      </div>

      <div class="container">
        <%= yield %>
      </div>

  </body>
</html>
